@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Karla');


/*
 * Contents
 *
 * Body resets
 * Custom type
 * Messages
 * Container
 * Masthead
 * Posts and pages
 * Pagination
 * Reverse layout
 * Themes
 #A2D5F2
 #07689F
 #FAFAFA
 #FF7E67
 
 #9DDCDC
 #FFF4E1
 #FFEBB7
 #E67A7A
 */


/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 228px;

}

/* line height: 24.8px */

html {
  font-family: "Lato";
  /*font-family: "Inconsolata";*/
  font-size: 20px;

  line-height: 1.55em;
  vertical-align: baseline;

}


body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

  
 /* 
  background-image: linear-gradient(#0ff 1px, transparent 1px);
  background-size: auto 0.775em;
  */
  
 
  
  
  
  
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  /* color: #A2D5F2; */
  color: #20B1B1;
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #313131;
  /*color: #07689F;*/
  text-rendering: optimizeLegibility;
  font-family: "Work Sans";
  /*font-family: "Karla"*/
}
h1 {
  font-size: 1.8rem;
  /*line-height: 3.1rem;*/
  line-height: 2.325rem;
  margin-top: 0rem;
  /*margin-bottom: 0rem;*/
  margin-bottom: 0.775rem;
  padding-bottom: 0rem;
  letter-spacing: -0.5px;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.55rem;
  margin-right: 10px;
  margin-bottom: 1.55rem;
}



h2:after {
  content: '';
  display: block;
  width: 60px;
  margin-top: 5px;
  margin-bottom: 0.775rem;
  border-bottom: 4px solid #000;
  position: absolute;
  z-index: 1;
}


h3 {
  font-size: 0.9rem;
  /*font-weight: bold;*/
  line-height: 1.55rem;

  margin-bottom: 0.775rem;
  margin-bottom: 0.25rem;
  margin-top: 0;
  padding-top: 0;
}
h4, h5, h6 {
  font-size: 1rem;
}

/* Body text */
p {
  font-size: 0.85rem;
  margin-top: 0;
  margin-bottom: 0.78rem;
}

img {
  display: block;
  max-width: 100%;
  /* margin: 0 0 1rem;*/ 
  border-radius: 1rem;
}







  #container {
    padding-top:    7.75rem;
    padding-bottom: 7.75rem;

    display: grid;
    width: 43rem;
    grid-template-columns: 12.75rem 30.25rem;
    grid-gap: 3.1rem;
    margin: 0 auto;
  }
  
  #portrait {
    margin-left: 3.75rem;
  display: block;
  /*margin-top: 0.55rem;*/
  margin-top: -0.2rem;
  margin-right: 0rem;
  max-width: 180px;
  }
  
  .content {
  margin-top: 1.55rem;
  margin-right: 3.88rem;
    width: 27rem;
  }

@media (max-width: 1000px) {
  #container {
    display: block;
    width: 33rem;
    padding-top: 5.49rem;
    padding-bottom: 5.49rem;
    margin: 0 auto;
  }
  
  .content {
    width: 27rem;
    margin-top: 2.0rem;
    margin-left: 3.88rem;
  }
  
  #portrait {
    margin-top: 0rem;
    margin-left: 3.88rem;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 18px;
  }
  #container {
    display: block;
    width: 33rem;
    padding-top: 5.49rem;
    padding-bottom: 5.49rem;
    margin: 0 auto;
  }
  
  .content {
    width: 27rem;
    margin-left: 2.5rem;
  }
  
  #portrait {
    margin-top: 0rem;
    margin-left: 2.5rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
  #container {
    display: block;
    padding-top: 5.49rem;
    padding-bottom: 5.49rem;
    margin: 0 auto;
    width: 25rem;
  }
  
  .content {
    width: 19rem;
    margin-left: 2rem;
  }
  
  #portrait {
    margin-top: 0rem;
    margin-left: 2rem;
  }

  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0rem;
    max-width: 530px;
  }

  li {
    margin-bottom: 0.775rem;
    font-weight: normal;
    font-size: 0.85rem;

  }
}


#secret {
  display: block;
  margin: 0 auto;
  max-width: 25px;
}

#research {
  margin-top: 3.1rem;
  padding-left: 1.55rem;
  margin-left: -1.55rem;
  padding-right: 1.55rem;
  margin-right: -1.55rem;
  background-color: #f9f9f9;
  padding-top: 0.775rem;
  padding-bottom: 0.775rem;

}

.paper_title {
  color: #20B1B1;
  text-decoration: none;
  display: block;
  font-weight: normal;
  /*font-family: "Montserrat", serif; */
  /*margin-bottom: 0.2rem;*/
  /*font-size: 1rem;*/

}
.paper_authors {
  display: inline;
  font-weight: normal;

}
.paper_venue {
  display: inline;
  font-style: italic;
  margin-left: 0.4rem;
  color: #DF5E57;
  font-weight: normal;
  white-space: nowrap;

}

#email {
  font-weight: bold;
}
#email a {
  font-weight: normal;
}

ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.8rem;
  max-width: 530px;
}

li {
  padding-left: 0.5rem;
  margin-bottom: 1.25rem;
  font-weight: normal;
  font-size: 0.85rem;

}

.sidebar hr {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #505050;
  border-bottom: none;
}
